@(passwordForm: Form[AuthorisedUser])

@laboran.menu.render()
@import helper._
@helper.form(CSRF(routes.UserController.doChangePassword()), 'class -> "validateForm", 'name -> "formpassword"){
    @helper.inputPassword(passwordForm("password"), 'id -> "password", 'size -> 30)
    @helper.inputPassword(passwordForm("confirmpassword"), 'size -> 30)
    <input type="submit" value="Ganti Password" />
}

<script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.validate.js")"></script>
<script type="text/javascript">

        $(function() {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='formpassword']").validate({
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side

                    password: {
                        required: true,
                        minlength: 8
                    },
                    confirmpassword: {
                        required: true,
                        minlength: 8,
                        equalTo : "#password"
                    }
                },
                // Specify validation error messages
                messages: {

                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 8 characters long"
                    },
                    confirmpassword: {
                        required: "Confirm password. Mus be the same with the previous box",
                        minlength: "Your password must be at least 8 characters long"
                    },

                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });
</script>

