@(connected: Boolean)


<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.css")">
<script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
<script>
        console.log("The fuck is gong on dude?");
        $(document).ready(function(){
            setTimeout(function() {
                @if(connected){
                    window.location.href = "@routes.HomeController.daftarAsprak()"
                }else{
                    window.location.href = "@routes.FreeController.index()"
                }
            }, 5000);
        });

</script>
<div class="row-fluid" id="config">
  <div class="span10">
      <h1>We're checking for authorization. We'll redirect you to the proper page!!!</h1>

     
  </div>
</div>

