@(list: List[Matakuliah])

@import helper._
@index.render()
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/javascripts/jquery.js")">

@main("Daftar Kelas") {
    
    <h1>@list.size() Kelas</h1>
    <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">Id Kelas</th>
            <th scope="col">Kode Mata Kuliah</th>
            <th scope="col">Nama Mata Kuliah</th>


          </tr>
        </thead>
        <tbody>
        
       
        @for(data <- list) {
            <tr>
                <td scope="row">@data.id_matakuliah</td>
                <td>@data.kode_matakuliah</td>
                <td>@data.nama_matakuliah</td>

                <td>
                    <a class="btn btn-warning" href="@routes.MataKuliahController.edit(data.id_matakuliah)">Edit</a>
                    |<a class="btn btn-danger" href="@routes.MataKuliahController.hapus(data.id_matakuliah)">Hapus</a></td>
                
                
            </tr>
        }
        </tbody>
    </table>


    <a href="@routes.MataKuliahController.form">Tambah Mata Kuliah</a>
    
    
}