@(list: List[Modul])

@import helper._
@index.render()
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/javascripts/jquery.js")">

@main("Daftar Asprak") {
    
    <h1>@list.size() Modul</h1>
    <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">Id Modul</th>
            <th scope="col">Tugas Pendahuluan</th>
            <th scope="col">Jurnal</th>
            <th scope="col">Tugas Akhir</th>
          </tr>
        </thead>
        <tbody>
        
       
        @for(data <- list) {
            <tr>
                <td scope="row">@data.id_modul</td>
                <td>@data.tp</td>
                <td>@data.jurnal</td>
                <td>@data.tugas_akhir</td>
                <td>
                    <a class="btn btn-warning" href="@routes.ModulController.editModul(data.id_modul, data.getMatakuliah().getKode_matakuliah())">Edit</a>
                    |<a class="btn btn-warning" href="@routes.ModulController.hapusModul(data.id_modul)">Edit</a></td>
                
                
            </tr>
        }
        </tbody>
    </table>


    <a href="@routes.ModulController.formModul(request().getQueryString("kodematakuliah"))">Tambah Modul</a>
    
    
}