@(kodematakuliah:String, modulForm: Form[Modul])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/stylesheets/bootstrap.css")">
@import helper._
@index.render()
@helper.form(CSRF(routes.ModulController.tambahModul(kodematakuliah))){
    @helper.inputText(modulForm("Nama"), 'id -> "nama", 'size -> 30)
    @helper.inputText(modulForm("TP"), 'id -> "tp", 'size -> 30)
    @helper.inputText(modulForm("Jurnal"), 'id -> "jurnal", 'size -> 30)
    @helper.inputText(modulForm("durasi_jurnal"), 'label-> "Lama pengerjaan jurnal", 'id -> "durasi_jurnal", 'size -> 30)
    @helper.inputText(modulForm("TA"), 'id -> "ta", 'size -> 30)
    @helper.inputDate(modulForm("deadline_ta"), 'label-> "Deadline Tugas Akhir Modul", 'id -> "deadline_ta", 'size -> 30)



    <input type="submit" value="Tambah Modul" />
}


