@(list: List[Praktikan])

@import helper._
@index.render()
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/javascripts/jquery.js")">

@main("Daftar Kelas") {
    
    <h1>@list.size() Kelas</h1>
    <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">Nim Praktikan</th>
            <th scope="col">Nama Praktikan</th>
            <th scope="col">Kelas</th>


          </tr>
        </thead>
        <tbody>
        
       
        @for(data <- list) {
            <tr>
                <td scope="row">@data.nim_praktikan</td>
                <td>@data.nama_praktikan</td>

                <td>
                    <a class="btn btn-warning" href="@routes.PraktikanController.edit(data.nim_praktikan)">Edit</a>
                    |<a class="btn btn-danger" href="@routes.PraktikanController.hapus(data.nim_praktikan)">Hapus</a></td>
                
                
            </tr>
        }
        </tbody>
    </table>


    <a href="@routes.PraktikanController.form()">Tambah Praktikan</a>
    
    
}