@(list:List[Kelas], formData: Form[Praktikan])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/stylesheets/bootstrap.css")">
@import helper._
@index.render()
@helper.form(CSRF(routes.PraktikanController.tambah())){
    @helper.inputText(formData("nim_praktikan"), '_label -> "Nim Praktikan")
    @helper.inputText(formData("nama_praktikan"), '_label -> "Nama Praktikan")
    @select(
        field = formData("kelas"),
        options = list.map(kelas => kelas.id_kelas.toString -> kelas.nama_kelas),
        '_default -> "Pilih Kelas",
        '_label -> "Kelas",
        '_disabled -> Seq("FooKey", "BazKey")

    )
    @helper.inputPassword(formData("Password"))

    <input type="submit" value="Tambah Mata Kuliah" />
}


