@()
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.css")">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@routes.DosenController.daftarDosen()">Home</a></li>
            <li><a href="@routes.DosenController.formDosen()">Dosen 1</a></li>
            <li><a href="@routes.DosenController.formDosen()">Dosen 2</a></li>
            <li><a href="@routes.DosenController.formDosen()">Dosen 3</a></li>
            <li><a href="@routes.UserController.changePassword()">Ganti Password</a></li>
            <li><a href="@routes.FreeController.logout()">Logout</a></li>
        </ul>
    </div>
</nav>